.idea
./configuration.nix
./hardware-configuration.nix
/configuration.nix
/hardware-configuration.nix
/*.qcow2
result
.shared

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
